
//variables
@import "./generales/variables";

//header

header{

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background: $gradiente;

    img {
        width: 200px;
     }
     nav ul {
        display: flex;
       flex-direction: row;
        justify-content: end;
        gap: 1rem;
        list-style: none;
        margin: 1rem;
        padding: 0;

            li a{
            text-decoration: none;
         
            color: $turquesa;
            font-family: $fuente3;
            font-size: 2rem;
            transition: color 0.3s;

            &:hover {
                color: $fondo;
             }
         }
     }
     
}
 
h1, h2 {
  font-family: $fuente3;
}

.descripcion {
  padding: $espaciado;

  h1 {
     @include centrar-column();
  }
}

.h1-subtitulo {
  @include centrar-column();
  font-family: $fuente2;
  font-size: 20px;
}

.cuerpo {
  font-family: $fuente3;
}




/* Footer */
footer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background:$gradiente;
  color: white;

  .social {
     display: flex;
     justify-content: center;
     gap: 1rem;

     a {
        img {
           width: 30px;
           transition: transform 0.3s ease-in-out;

           &:hover {
              transform: scale(1.2);
           }
        }
     }
  }
}


/*home*/
.eliseo {

   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px; /* Espaciado interno de la sección */
   background-color: #f9f9f9; /* Color de fondo opcional para la sección */
}

.hero {
   display: grid;
   grid-template-columns: repeat(3, 1fr); /* Divide en 3 columnas iguales */
   gap: 20px; /* Espaciado entre las cajas */
   padding: 20px; /* Espaciado interno de la sección */
   background-color: #f9f9f9; /* Color de fondo opcional para la sección */
}

.hero > div {
   background-color: #fff; /* Fondo blanco para cada caja */
   border: 4px solid #4d4b4d; /* Borde de color alrededor de cada caja */
   border-radius: 10px; /* Bordes redondeados (opcional) */
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidad */
   padding: 20px; /* Espaciado interno dentro de cada caja */
   text-align: center; /* Centra el texto */
}


.hero p {
   color: #666; /* Color del texto */
   font-size: 0.95em; /* Tamaño del texto */
}


 

