@import "generales/variables";
@import "generales/headerfooter";


/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 
@import "page/blog";
@import "page/contactos";
@import "page/nosotros";
@import "page/servicios";
@import "page/index";


@import "generales/mediaQ";