@import 'mixins';

.container {
    width: 80%;

    @include responsive(tablet) {
        width: 90%;
    }

    @include responsive(mobile) {
        width: 100%;
    }
}

h1 {
    @include responsive(mobile) {
        font-size: 24px;
    }
}
