
//📌colores

$rojo: #EB3635; 
$turquesa: #38B5DD; 
$gris: #4D4B4D;
$fondo: #F4F4F4; 
$color-texto: #333;
$gradiente: rgb(27, 32, 175) ;


//📌fuentes

$fuente2: 'Lucida Sans', 'Lucida Sans Regular';
$fuente3: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$fuente1: Footlight MT Light;
$espaciado: 20px;


// 📌 Mixin para centrar elementos en columna
@mixin centrar-column() {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

// 📌 Tamaños y espaciados
$ancho-gallery: 400px;
$alto-gallery: 400px;
$espaciado-bajo: 10px;
$espaciado-general: 20px;

// 📌 Bordes y sombra
$radio-borde: 10px;
$grosor-borde: 4px solid $gris;
$sombra: 10px 10px 5px 0px rgba(66, 62, 62, 0.52);

@mixin caja-texto() {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidad */
    padding: 20px; /* Espaciado interno dentro de cada caja */
    text-align: center; /* Centra el texto */
}

// 📌 Mixin para centrar elementos con flexbox en columna
@mixin centrar-flex() {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// 📌 Mixin para aplicar bordes redondeados
@mixin bordes-redondeados() {
    border-radius: $radio-borde;
    border: $grosor-borde;
}

// 📌 Mixin para aplicar sombra
@mixin sombra-box() {
    box-shadow: $sombra;
    -webkit-box-shadow: $sombra;
    -moz-box-shadow: $sombra;
}

/* Estilo para títulos */
.titulo-gallery {
    margin-bottom: $espaciado-bajo;
    color: black;
    text-align: center;
    font-size: 40px;
}

/* Estilos para la galería */
.gallery {
    @include centrar-flex();
    width: $ancho-gallery;
    height: $alto-gallery;
    margin: auto;
    padding: auto;
    background-color: $gris;
    @include bordes-redondeados();
    @include sombra-box();
    margin-bottom: $espaciado-general;
}

/* Estilos para el carrusel */
.carousel-inner {
    @include bordes-redondeados();
}

